body {
  font-family: Arial, sans-serif;
 
  margin: 20px;
  background-color: #FBF8EF;
}

h1 {
  
  font-family: "Micro 5", sans-serif;
  color: #F96E2A;
}

p {
  
  font-size: 18px;
  color: #78B3CE;
}


.image-section img {
  float: right; /* Or left */
  margin: 0 0 20px 20px; /* Adds spacing around the image */
  width: 250px; /* Adjust size as needed */
  height: auto;
  border-radius: 8px;
}

/* Navigation Bar Styling */
.navbar {
  display: flex;
  justify-content: center; /* Center the links horizontally */
  background-color: #F96E2A;  /* Dark background color */
  padding: 10px 0;         /* Padding for the bar */
}

.navbar a {
  color: #FBF8EF;          /* White text color */
  text-decoration: none;   /* Remove underline */
  padding: 14px 20px;      /* Spacing around links */
  font-size: 16px;
}

.navbar a:hover {
  background-color: #78B3CE;  /* Darker background on hover */
  color: #ffffff;
  border-radius: 4px;      /* Rounded corners on hover */
}
