body {
  font-family: Arial, sans-serif;
 
  margin: 20px;
  background-color: #FBF8EF;
}

h1 {
  
  font-family: "Micro 5", sans-serif;
  color: #F96E2A;
}

p {
  
  font-size: 18px;
  color: #78B3CE;
}
