body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #FBF8EF;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 80%;
  margin: 0 auto;
}

.text-content {
  max-width: 50%;
  padding-right: 20px; /* Add spacing between text and image */
}

.text-content h1 {
  font-family: "Micro 5", sans-serif;
  font-size: 150px;
  color: #F96E2A;
}

.text-content p {
  font-family: "Source Code Pro", monospace;
  font-size: 18px;
  color: #78B3CE;
  
}

.image-section img {
  width: 250px; /* Adjust size as needed */
  height: auto;
  border-radius: 8px;
}


/* Navigation Bar Styling */
.navbar {
  display: flex;
  justify-content: right; /* Center the links horizontally */
  background-color: #F96E2A;  /* Dark background color */
  padding: 10px 0;         /* Padding for the bar */
}

.navbar a {
  color: #FBF8EF;          /* White text color */
  text-decoration: none;   /* Remove underline */
  padding: 14px 20px;      /* Spacing around links */
  font-size: 16px;
}

.navbar a:hover {
  background-color: #78B3CE;  /* Darker background on hover */
  color: #ffffff;
  border-radius: 4px;      /* Rounded corners on hover */
}
